
<div class="container mt-4">
<div class="row row-cols-4 g-3 text-center" id="movimientos-container">
  <div class="col">
    <a href="/mov/ingresos" class="d-block">
        <img src="/static/Imagenes/Ingreso_Mov.png" alt="Ingresos" class="movimientos-ing">
        <h2 class="h6 mt-2">Ingresos</h2>
    </a>
    </div>
    <div class="col">
     <a href="/mov/gastos" class="d-block">
        <img src="/static/Imagenes/gastos-Mov.jpg" alt="Gastos" class="movimientos-gas">
        <h2 class="h6 mt-2">Gastos</h2>
    </a>
    </div>
    <div class="col">
     <a href="/mov/transferencias" class="d-block">
        <img src="/static/Imagenes/transferencia-Mov.jpg" alt="Transferencia" class="movimientos-trans">
        <h2 class="h6 mt-2">Transferencia</h2>
    </a>
    </div>
    <div class="col">
     <a href="/mov/crear" class="d-block">
        <img src="/static/Imagenes/crear-Mov.jpg" alt="Crear" class="movimientos-crear">
        <h2 class="h6 mt-2">Crear</h2>
    </a>
    </div>
    </a>
     
</div>
</div>
</div>
