<footer class="site-footer">
  <div class="container">
    <div class="row align-items-start">
      <div id="footer-ayuda" class="col-12 col-md-6 mb-4 mb-md-0">
        <div class="row g-2">
          <div class="col-12 col-md-4">
            <nav class="footer-links">
              <a href="/ayuda">Ayuda</a>
              <a href="/ubicacion">Ubicación</a>
            </nav>
          </div>
          <div class="col-12 col-md-4">
            <nav class="footer-links">
              <a href="/contactanos">Contáctanos</a>
              <a href="/trabaja-con-nosotros">Trabaja con nosotros</a>
            </nav>
          </div>
        </div>
      </div>
      <div id="footer-branding" class="col-12 col-md-6 text-md-end">
        <p class="footer-copy">© 2026 MoneyHome. Todos los derechos reservados.</p>

        <div class="footer-social">
          <a href="https://www.facebook.com/MoneyHome" target="_blank" rel="noopener">Facebook</a>
          <a href="https://www.twitter.com/MoneyHome" target="_blank" rel="noopener">Twitter</a>
          <a href="https://www.instagram.com/MoneyHome" target="_blank" rel="noopener">Instagram</a>
        </div>
      </div>
    </div>
  </div>
</footer>